{ns hl7-fhir-uv-extensions-r4.coding-conformance,
 import #{hl7-fhir-r4-core.canonical zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Declares a profile that required the specific coding to be included in a list of Codings because of the binding. This allows reading applications to identify particular codings without processing the systems.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/coding-conformance",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.canonical/schema}}}
