{ns hl7-fhir-uv-extensions-r4.cqf-cqlOptions,
 import #{zen.fhir hl7-fhir-r4-core.Parameters},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Specifies a parameters (contained) resource that identifies the options for the CQL-to-ELM translator associated with the CQL content.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/cqf-cqlOptions",
         :zen.fhir/version "0.6.30-7",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Parameters/schema}}}}
