{ns hl7-fhir-uv-extensions-r4.documentreference-thumbnail,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "True or False indicating whether this content is a thumbnail.",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/documentreference-thumbnail",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.boolean/schema}}}
