{ns hl7-fhir-uv-extensions-r4.firstCreated,
 import #{zen.fhir hl7-fhir-r4-core.instant},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Indicates when this resource ID was first associated with content on this server.",
         :zen.fhir/type "instant",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/firstCreated",
         :zen.fhir/version "0.6.30-11",
         :confirms #{hl7-fhir-r4-core.instant/schema}}}
