{ns hl7-fhir-uv-extensions-r4.list-for,
 import #{hl7-fhir-r4-core.CareTeam
          hl7-fhir-r4-core.Device
          zen.fhir
          hl7-fhir-r4-core.RelatedPerson
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-r4-core.Practitioner
          hl7-fhir-r4-core.Organization},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Reference to the entity that this *List* is for.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/list-for",
         :zen.fhir/version "0.6.31",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.CareTeam/schema
                                        hl7-fhir-r4-core.Patient/schema
                                        hl7-fhir-r4-core.PractitionerRole/schema
                                        hl7-fhir-r4-core.Organization/schema
                                        hl7-fhir-r4-core.Device/schema
                                        hl7-fhir-r4-core.Practitioner/schema
                                        hl7-fhir-r4-core.RelatedPerson/schema}}}}
