{ns hl7-fhir-uv-extensions-r4.parameters-definition,
 import #{hl7-fhir-r4-core.ParameterDefinition zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "This specifies the definition for a parameter if needed. This is useful for communicating the type of a parameter when the parameter has no value.",
         :zen.fhir/type "ParameterDefinition",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/parameters-definition",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.ParameterDefinition/schema}}}
