{ns hl7-fhir-uv-extensions-r4.specimen-additive,
 import #{zen.fhir
          hl7-fhir-uv-extensions-r4.value-set.specimen-additive-substance},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "References a resource or provides a code or text that specifies a substance that is added to a laboratory specimen (part of the container device or added to the specimen indenpendently).",
         :zen.fhir/type "CodeableReference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/specimen-additive",
         :zen.fhir/version "0.6.30-11",
         :zen.fhir/value-set {:symbol hl7-fhir-uv-extensions-r4.value-set.specimen-additive-substance/value-set,
                              :strength :example}}}
